<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <lucide-icon [img]="Link" class="h-5 w-5" />
    <p>Copyright © {{ currentYear }} - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <p>
      Criado por
      <a
        href="https://github.com/LuWroblewski"
        target="_blank"
        class="link link-hover font-semibold"
        >LuWroblewski</a
      >
    </p>
  </nav>
</footer>
